<div class="likes">
  <% if user_signed_in? && current_user.liked_by?(problem.id) %>
    <p><%= link_to 'いいねを外す', destroy_like_path(problem), method: :DELETE, remote: true %><%= problem.likes.count %></p>
  <% else %>
    <p><%= link_to 'いいね', create_like_path(problem), method: :POST, remote: true %><%= problem.likes.count %></p>
  <% end %>
</div>