<%= render "shared/header" %>


<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Bouldering</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <header>
      <div class="top-header">
        <h1>Bouldering Record</h1> 
        <img src="img/IMG_3917.png">
      </div>
      <div class="nav">
        <ul class="sign-up">
          <li>ユーザー名</li>
          <li>ログアウト</li>
          <li>ログイン</li>
          <li>新規登録</li>
        </ul>
      </div>
      
    </header>
  </body>
</html>
