.user-registration {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

.user-registration li {
  padding: 20px;
}

/* session/new */
.sns-login {
  text-align: center;
  font-size: 22px;
  padding-top: 15px;
}
/* session/new */

