.registration-form {
  height: 100%;
  width: 100%;
  min-width: 800px;
  display: flex;
  font-size: 15px;
  justify-content: center;
}

.problem-header {
  padding: 5vh 0;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 40vw;
  height: 80%;
 
}

.form-header {
  width: 100%;
  height: 100px;
}

.form-header-text {
  font-weight: bold;
  text-align: center;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 10px;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 15px;
  font-weight: bold;
}

.indispensable {
  font-size: 15px;
  font-weight: bold;
  color: red;
  margin-left: 8px;
  border-radius: 2px;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 40px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.register-blue-btn {
  width: 80%;
  background: #00bfff;
  border: 1px solid #00bfff;
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 2vh;
}