body {
  background: #f5f5f5;
}
/* ヘッダー start */
.top-header {
  border-bottom: 1px solid #dcdcdc;
}

.top-header-logo {
  width: 100vw;
  padding: 2vh;
  text-align: center;
}

.nav-bar {
  padding: 1vh 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  min-width: 200px;
}

.nav-bar-left {
  margin: 0 20px;
  font-size: 25px;
  min-width: 200px;

}

.nav-bar-right {
  margin: 0 20px;
  display: flex;
  min-width: 200px;
}

.sign-button {
  margin: 0 10px;
  text-decoration: none;
  padding: 10px;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.sign-button:hover {
  background: #67c5ff;
  color: white;
}

li {
  list-style: none;
}
/* ヘッダー end */

/* ボディ start */
.app-detail {
  padding: 8vh 0 1vh ;
  min-width: 200px;
}

.app-detail-header {
  text-align: center;
}

.app-title {
  font-size: 30px;
  font-weight: bold;
  min-width: 200px;
}

.app-title p {
  margin-top: 26px;
  width: 100%;
  font-weight: normal;
  font-size: 20px;
}

.app-usage {
  min-width: 200px;
}

.app-usage-title {
  padding: 10vh;
}

.app-persona {
  display: flex;
  flex-wrap: wrap;
  min-width: 100px;
  font-size: 26px;
  font-weight: bold;
  padding: 26px;
  justify-content: center;
}

.app-persona ul {
  padding-top: 3vh;
  margin: 0 auto;
  width: 33%;
  min-width: 200px;
}

.app-persona li {
  margin-top: 20px;
  font-size: 20px;
  font-weight: normal;
}
/* ボディ end */

/* 課題一覧 start*/
.problem-contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
}

.problem-contents li {
  list-style: none;
}


.problem-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.problem-lists>.list {
  width: 37vh;
  padding: 2vw;
}

.problem-img {
  width: 33vh;
  height: 33vh;
}

.problem-info {
  padding: 1vw;
}

.problem-name {
  font-size: 2.5vh;
}

.problem-grade {
  font-size: 2vh;
}

.problem-user {
  font-size: 2vh;
}
/* 課題一覧 end */

/* 課題サンプル start */
.problem-sample {
  width: 100vw;
  text-align: center;
}

.sample-title {
  display: flex;
  justify-content: center;
}

.sample-img {
  width: 33vh;
  height: 33vh;
}
/* 課題サンプル end */

footer {
  text-align: center;
  font-size: 16px;
  padding: 1vh 0;
  width: 100%;
}